@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: 'Manrope', sans-serif;
    font-size: 62.5%;
}

body {
    // width: 100vw;
    background-image: url(../assets/images/bg-pattern.svg);
    background-color: $very-pale-blue;
    background-position: top -60px left 0;
    background-repeat: no-repeat;
    padding: 50px 20px;
}

.app {
    min-width: 350px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}