.button-control {
    display: flex;
    justify-content: center;
    align-items: center;

    button[type=submit] {
        width: 200px;
        padding: 15px 20px;
        border-radius: 25px;
        border: none;
        background-color: $dark-desaturated-blue;
        color: $pale-blue;
        font-weight: 800;

        &:hover {
            cursor: pointer;
            color: $soft-cyan
        }
    }
}