main {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto, 100%);
    grid-template-rows: repeat(auto, 1fr);

    .page-views {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 800;
        color: $strong-cyan
    }

    label {
        margin: 20px 0;

        input[type=range] {
            appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 25px;
            background: linear-gradient(90deg, $soft-cyan 50%, $soft-cyan 50%);

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 35px;
                height: 35px;
                cursor: pointer;
                background-image: url(../assets/images/icon-slider.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-color: $strong-cyan;
                border-radius: 50%;
            }

            &::-moz-range-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 35px;
                height: 35px;
                cursor: pointer;
                background-image: url(../assets/images/icon-slider.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-color: $strong-cyan;
                border-radius: 50%;
            }
        }

    }
}