main {
    width: 100%;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-areas:
        'page-views'
        'label-range'
        'price-result'
        'toggle-billing'
        'benefits-list'
        'button-submit';
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);

    .page-views {
        grid-area: page-views;
    }

    .price-result {
        grid-area: price-result;
    }

    label[for=range] {
        grid-area: label-range;
    }

    .toggle-billing {
        grid-area: toggle-billing;
    }

    .benefits-list {
        grid-area: benefits-list;
    }

    button[type=submit] {
        grid-area: button-submit;
    }

    @media screen and (min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'page-views price-result'
            'label-range label-range'
            'toggle-billing toggle-billing'
            'benefits-list button-submit';
    }

}